@charset "UTF-8";

/* CSS */

/*Ryan Quigley
200239087
Georgian College
COMP1073-W2017*/

body {
  padding-bottom: 70px;
<<<<<<< HEAD
  } 
=======
  text-align: center;
  background-color: lightgrey;
  }
>>>>>>> 3b3a04f05786bf1dba70f081ec726f55428c2be8

footer > nav > div > p {
  color: lightgrey;
  text-align: center;
  margin-top: 1em;
}

